<div class="dashboard">
  <div class="dashboard-header">
    <h2>Dashboard</h2>
    <a class="new-project-btn" routerLink="/projects/new">+ New Project</a>
  </div>

  <div class="dashboard-sections">
    <section class="recent-predictions">
      <div class="section-header">
        <h3>Recent Predictions</h3>
        <button class="view-all-btn" routerLink="/predictions/overview">
          View All
        </button>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Project</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let review of recentReviews">
              <td>{{ review.projectName }}</td>
              <td>
                <span class="status-pill {{ review.status | lowercase }}">{{
                  review.status
                }}</span>
              </td>
              <td>{{ review.generatedAt | date : "yyyy-MM-dd" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="my-projects">
      <div class="section-header">
        <h3>My Projects</h3>
        <button class="view-all-btn" routerLink="/projects">View All</button>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Project</th>
              <th>Predictions Run</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.name }}</td>
              <td
                [ngClass]="{
                  'prediction-run-true':
                    project.status.toLowerCase() === 'completed',
                  'prediction-run-false':
                    project.status.toLowerCase() !== 'completed'
                }"
              >
                {{
                  project.status.toLowerCase() === "completed"
                    ? "true"
                    : "false"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
