<div class="edit-project-container">
  <h2>Edit Project</h2>

  <form class="edit-project-form" (ngSubmit)="saveProject()">
    <div class="form-group">
      <label for="projectName">Project Name*</label>
      <input
        id="projectName"
        name="projectName"
        type="text"
        [(ngModel)]="projectName"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description (Optional)</label>
      <textarea
        id="description"
        name="description"
        rows="3"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="businessSpecification"
        >Business Specification (Optional)</label
      >
      <textarea
        id="businessSpecification"
        name="businessSpecification"
        rows="4"
        [(ngModel)]="businessSpecification"
      ></textarea>
    </div>
    <div class="form-actions">
      <button type="button" (click)="cancelEditing()">Cancel</button>
      <button type="submit">Save Project</button>
    </div>
  </form>
</div>
