<div class="report-detail-container">
  <h2 *ngIf="project">{{ project.name }} Reports</h2>

  <ng-container *ngIf="reportStatus === 'pending'">
    <p>Report generation pending.</p>
    <button (click)="generateReport(projectId!)">Generate Report</button>
  </ng-container>

  <ng-container *ngIf="reportStatus === 'generating'">
    <app-loading-spinner></app-loading-spinner>
    <p>Generating report...</p>
  </ng-container>

  <ng-container *ngIf="reportStatus === 'completed'">
    <div class="report-grid-container">
      <div class="report-item" *ngIf="projectPredictionsCount !== undefined">
        <h3>Predictions Count</h3>
        <p>{{ projectPredictionsCount }}</p>
      </div>

      <div class="report-item" *ngIf="projectPredictionTypeDistribution">
        <h3>Prediction Type Distribution</h3>
        <ul>
          <li *ngFor="let type of projectPredictionTypeDistribution | keyvalue">
            {{ type.key }}: {{ type.value }}
          </li>
        </ul>
      </div>

      <div class="report-item" *ngIf="projectPredictionStatusDistribution">
        <h3>Prediction Status Distribution</h3>
        <ul>
          <li
            *ngFor="
              let status of projectPredictionStatusDistribution | keyvalue
            "
          >
            {{ status.key }}: {{ status.value }}
          </li>
        </ul>
      </div>

      <div class="report-item" *ngIf="projectPredictionPriorityDistribution">
        <h3>Prediction Priority Distribution</h3>
        <ul>
          <li
            *ngFor="
              let priority of projectPredictionPriorityDistribution | keyvalue
            "
          >
            {{ priority.key }}: {{ priority.value }}
          </li>
        </ul>
      </div>

      <div class="report-item" *ngIf="projectPredictionSeverityDistribution">
        <h3>Prediction Severity Distribution</h3>
        <ul>
          <li
            *ngFor="
              let severity of projectPredictionSeverityDistribution | keyvalue
            "
          >
            {{ severity.key }}: {{ severity.value }}
          </li>
        </ul>
      </div>

      <div
        class="report-item"
        *ngIf="projectAverageEstimatedTime !== undefined"
      >
        <h3>Average Estimated Time</h3>
        <p>{{ projectAverageEstimatedTime | number : "1.0-2" }}</p>
      </div>

      <div
        class="report-item"
        *ngIf="projectTotalEstimatedTimeForBugsAndStories !== undefined"
      >
        <h3>Total Estimated Time (Bugs & User Stories)</h3>
        <p>
          {{ projectTotalEstimatedTimeForBugsAndStories | number : "1.0-2" }}
        </p>
      </div>

      <div
        class="report-item"
        *ngIf="projectTopKeywords && projectTopKeywords.length > 0"
      >
        <h3>Top Keywords</h3>
        <ul>
          <li *ngFor="let keyword of projectTopKeywords">{{ keyword }}</li>
        </ul>
      </div>

      <div
        class="report-item"
        *ngIf="projectTechStackList && projectTechStackList.length > 0"
      >
        <h3>Tech Stack</h3>
        <ul>
          <li *ngFor="let tech of projectTechStackList">{{ tech }}</li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="reportStatus === 'failed'">
    <p>Failed to generate report.</p>
    <button (click)="generateReport(projectId!)">Retry Generation</button>
  </ng-container>
</div>
